%h1 Order index

%table.table.table-hover
  %thead
    %tr
      %th ID
      %th First Name
      %th Last Name
      %th Address 1
      %th Address 2
      %th Email
      %th Phone
      %th Quantity
  %tbody
    - @electronic_raffle_orders.each do |order|
      %tr
        %td= order.id
        %td= order.first_name
        %td= order.last_name
        %td= order.address1
        %td= order.address2
        %td= order.email
        %td= order.phone
        %td= order.quantity
        
	