= simple_form_for(@order, :html => {:class => 'form-horizontal' }) do |f|
  
  %fieldset
    %legend Ticket Information
    = f.hidden_field :stripe_token
    = f.hidden_field :card_last_4_digits
    = f.hidden_field :card_type
    
    = f.simple_fields_for :basic_order_detail do |basic|
      = basic.input :first_name
      = basic.input :last_name
      = basic.input :phone
    
    = f.input :address1, :label => "Address"
    = f.input :address2, :label => false
    
    = f.input :email
    
    = f.simple_fields_for :basic_order_detail do |basic|
      = basic.input :quantity, :collection => 1..20, :input_html => { :class => "span1"}
    

  - if @order.stripe_token.present?
    .control-group.string.required
      %label.string.control-label Credit Card
      .controls
        = text_field_tag :credit_card, "Using #{@order.card_type} credit card provided with last 4 digits: #{@order.card_last_4_digits}", :class => "span5", :disabled => true
  - else
    =render 'credit_card_form'
    
  .control-group.string.required
    %label.string.control-label Total
    .controls
      .input-append.input-prepend
        .add-on $
        = text_field_tag :total, nil, :class => "span1", :disabled => true
        .add-on .00
  .form-actions
    = f.submit "Purchase Tickets", :class => "btn-primary", :id => "purchase", "data-loading-text" => "Processing..."
    = link_to "Cancel", home_index_path, :class => "btn"
